[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
src = {editable = true,path = "src"}
jupyter = "*"

[requires]
python_version = "3.7"
